body {
  color: #000;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #ffffff;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: hidden;
  background-image:url('/images/book_area.png');
  background-position:right top;
}
h1 {
  border-bottom: 1px solid #1d4088;
  color: #6495ED;
  background: #ffffff;
  font-size: 25px;
  margin: 0 0 15px 0;
  padding-bottom: 5px;
  opacity:0.9;
}
#loginscreen {
  float: inherit;
  background: #ffffff;
  width: 375px;
  opacity:0.9;
}
#gamescreen {
  border-bottom: 1px solid #1d4088;
  color: #000000;
  background: #ffffff;
  font-size: 15px;
  margin: 0 auto;
  opacity:0.9;
  width: 700px;
}

#story
{
 height: 350px;
 width: 500px;
 font-family: "Trebuchet MS", Helvetica, sans-serif
 font-size: 14px;
 overflow-y: scroll;
 overflow-x: hidden;
 border-style: solid;
 border-width: 1px;
}

#wrapper {
  float: left;
  background: #ffffff;
  width: 510px;
  opacity:0.9;
}

#userbar {
  float: right;
  position: relative;
  top: 40px;
  background: #ffffff;
  width: 180px;
  height: 654px;
}

#timer {
  float: right;
  position: relative;
  background: #ffffff;
  width: 180lpx;
}

#end_early_button_area {
  float: right;
  position: relative;
  background: #ffffff;
  width: 180lpx;
}

#userbartext {
  position: relative;
  border-style: solid;
  background: #fffff1;
  border-width: 1px;
  vertical-align: center;
  opacity:0.9;
}

div.find_game_button input {
background:url(/images/find_game_button.png) no-repeat;
cursor:pointer;
width: 150px;
height: 150px;
padding-top:10px;
padding-bottom:10px;
border: none;
}

div.view_lobby_button input {
background:url(/images/view_lobby_button.png) no-repeat;
cursor:pointer;
width: 150px;
padding-top:10px;
padding-bottom:10px;
height: 150px;
border: none;
}

div.create_game_button input {
background:url(/images/create_game_button.png) no-repeat;
cursor:pointer;
width: 150px;
padding-top:10px;
padding-bottom:10px;
height: 150px;
border: none;
}

div.settings_button input {
background:url(/images/settings_button.png) no-repeat;
cursor:pointer;
width: 150px;
height: 150px;
padding-top:10px;
padding-bottom:10px;
border: none;
}
