@font-face{
    font-family: griffy_regular;
    src: url('/font.ttf');
}
body {
  color: #000;
  font-family: griffy_regular;
  background: #ffffff;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: auto;
}
h1 {
  border-bottom: 1px solid #1d4088;
  color: #6495ED;
  background: #ffffff;
  font-size: 18px;
  margin: 0 0 15px 0;
  padding-bottom: 5px;
  opacity:0.9;
}
#loginscreen {
  float: inherit;
  background: #ffffff;
  width: 375px;
  opacity:0.9;
}
#gamescreen {
  border-bottom: 1px solid #1d4088;
  color: #000000;
  background: #ffffff;
  font-size: 18px;
  margin: 0 auto;
  opacity:0.9;
  width: 560px;
}

#story
{
 height: 280px;
 width: 400px;
 font-family: griffy_regular;
 font-size: 16px;
 overflow-y: scroll;
 overflow-x: hidden;
 border-style: solid;
 border-width: 1px;
}

#wrapper {
  float: left;
  background: #ffffff;
  width: 408px;
  opacity:0.9;
}

#userbar {
  float: right;
  position: relative;
  top: 32px;
  background: #ffffff;
  width: 144px;
  height: 523px;
}

#end_early_button_area {
  float: right;
  position: relative;
  background: #ffffff;
  width: 144px;
}

#userbartext {
  position: relative;
  border-style: solid;
  width: 144px;
  height: 523px;
  background: #fffff1;
  border-width: 1px;
  vertical-align: center;
  opacity:0.9;
}

div.find_game_button input {
background:url(/images/find_game_button.png) no-repeat;
cursor:pointer;
width: 150px;
height: 150px;
padding-top:10px;
padding-bottom:10px;
border: none;
}

div.view_lobby_button input {
background:url(/images/view_lobby_button.png) no-repeat;
cursor:pointer;
width: 150px;
padding-top:10px;
padding-bottom:10px;
height: 150px;
border: none;
}

div.create_game_button input {
background:url(/images/create_game_button.png) no-repeat;
cursor:pointer;
width: 150px;
padding-top:10px;
padding-bottom:10px;
height: 150px;
border: none;
}

div.settings_button input {
background:url(/images/settings_button.png) no-repeat;
cursor:pointer;
width: 150px;
height: 150px;
padding-top:10px;
padding-bottom:10px;
border: none;
}

div.submit_button input {
background:url(/images/submit_button.png) no-repeat;
cursor:pointer;
width: 150px;
height: 150px;
padding-top: 10px;
padding-bottom: 10px;
border: none;
}

div.return_button input {
background:url(/images/return_button.png) no-repeat;
cursor: pointer;
width: 150px;
height: 150px;
padding-top: 10px;
padding-bottom: 10px;
border: none;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -69;
}

.stretch {
    width: 100%;
    height: 100%;
}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}
