<!doctype html>
<?php
header('P3P: CP="CURa ADMa DEVa PSAo PSDo OUR BUS UNI PUR INT DEM STA PRE COM NAV OTC NOI DSP COR"')
?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <div id="background">
      <img src='/images/book_area.png' class="stretch" alt=""/>
  </div>
  <head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <meta charset="utf-8">
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
	<body> {% block body %} {% endblock %} </body>
</html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
	<body>
	<div id="fb-root"></div>
	<script>
	window.fbAsyncInit = function() {
    FB.init({
      appId      : '394031443968167', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    //FB.Event.subscribe('auth.login', function() {
    //setTimeout(function() { window.location.replace("/");}, 2500);
    //});

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=APP_ID";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
