{% extends "base.html" %}
{% block body %}
<center>
<br>
<img src="/images/banner.png" alt="Writer's Bloc"/>
<br>
<br><br>
</center>
<script type="text/javascript">
function returnToMenu()
{
	window.location.replace('/');
}
function createGame()
{
    var info = {"start_sentence": document.getElementById("start_sentence").value, "end_sentence": document.getElementById("end_sentence").value, "length": getLength()}; 
    var url = "/start_game";
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open("POST", url, false);
    xmlHttp.onreadystatechange=function()
    {
        if(xmlHttp.readyState == 4)
        {
            document.body.innerHTML = "";
            document.write(xmlHttp.responseText);
        }
    };
    xmlHttp.send(JSON.stringify(info));
}  
function getLength()
{
    var radios = document.part_input.length_input;

    for(var i = 0, l = radios.length; i < l; i++)
    {
        if (radios[i].checked)
            return parseInt(radios[i].value, 10);
    }
    
    return 0;
}
</script>
<div style="padding-bottom: 2px; padding-top: 2px;">
	<form name = "part_input">
	First Sentence (Leave blank for a default sentence): <input class="text_box" type="text" id="start_sentence" name="start_sentence" /> <br>
	End Sentence (Leave blank for a default sentence): <input class="text_box" type="text" id="end_sentence" name="end_sentence" /> <br>
    <input type = "radio" name = "length_input" value = "7"> Short (7 turns) <br>
    <input type = "radio" name = "length_input" value = "10" checked> Medium (10 turns) <br>
    <input type = "radio" name = "length_input" value = "20"> Long (20 turns) <br>
    <input type = "radio" name = "length_input" value = "50"> Epic (50 turns) <br>
    
	</form>
</div>
<div class="button-container">
    <form action="javascript:createGame();">
        <input type="image" src="/images/submit_button.png" width=150 height=150  alt="Submit" onMouseOver="this.src='/images/submit_button_hover.png'" onMouseOut="this.src='/images/submit_button.png'">
    </form>
    <form action="javascript:returnToMenu();">
        <input type="image" src="/images/return_button.png" width=150 height=150 alt="Return To Menu" onMouseOver="this.src='/images/return_button_hover.png'" onMouseOut="this.src='/images/return_button.png'">
    </form>
</div>

{% endblock %}

