{% extends "base.html" %}
{% block body %}
<div id="gamescreen">
	<script>var game_id = "{{ game_id }}";</script>
	<div id="wrapper">
		<h1>
			<div id = "story_title">
			The Story So Far...
			</div>
			<div id = "turns_left"></div>
            <div id = "waiting_on"></div>
            <div id="timer">Fetching game data.</div>
		</h1>
<!-- style="height:280px;width:400px;Sfont:12px/22px Comic Sans, cursive;overflow-y: scroll;overflow-x: hidden;border-style: solid; border-width: 1px;"-->
		<div id="story">
			{{ start_sentence }} ... <br><br><br> {{ end_sentence }}
		</div>
		
		<div id="submission_area" style="padding-bottom: 2px; padding-top: 2px;">
			<form name = "part_input" action="">
			Next Part: <input type="text" id="button_input" size="52">
			<input id="submit_button" type="button" value="Submit" onclick="buttonPressed()" onkeypress="return false"/>
			</form>
		</div>

		<div id="infobox" style="height:160px;width:400px;font:12px/18px Comic Sans,cursive;overflow:scroll;border-style: solid; border-width: 1px;">
        Game Rules/Submission Instructions
		</div>
	</div>

	<div id="userbar">
		<div id="userbartext">
			Users:<br>
			{% for x in zipList %}
				<img src="{{x.1}}" width="25" height="25"/>{{x.0}}<br>
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript" src="/scripts/game_screen_scripts.js"></script>
</div>
{% endblock %}

