{% extends "base.html" %}
{% block body %}
	<script type="text/javascript" src="/scripts/lobby_screen_scripts.js"></script>
    <center>
    <br>
    <img src="/images/banner.png" alt="Writer's Bloc"/>
    <br>
    <br><br>
	<div id="select_game">
		<select id="selection" size="10" style="height:350px;width:500px;overflow-y: scroll;overflow-x: scroll;border-style: solid; border-width: 1px;">
			{% for game in games %}
				<option value="{{ game.game_id }}"> <b>Game ID: {{ game.game_id }} | Length: {{ game.game_length }} | Current Players: {{ game.current_players }}/8 | End Sentence: {{ game.end_sentence }} </b></option>
			{% endfor %}
		</select>
	</div>
<div class="button-container">
    <form action="javascript:buttonClicked();">
        <input type="image" src="/images/submit_button.png" width=150 height=150  alt="Join Game" onMouseOver="this.src='/images/submit_button_hover.png'" onMouseOut="this.src='/images/submit_button.png'">
    </form>
    <form action="javascript:refreshLobby();">
        <input type="image" src="/images/refresh_button.png" width=150 height=150 alt="Refresh Lobby" onMouseOver="this.src='/images/refresh_button_hover.png'" onMouseOut="this.src='/images/refresh_button.png'">
    </form>
    <form action="javascript:returnToMenu();">
        <input type="image" src="/images/return_button.png" width=150 height=150 alt="Return To Menu" onMouseOver="this.src='/images/return_button_hover.png'" onMouseOut="this.src='/images/return_button.png'">
    </form>
</div>
	<div id="error_area">
	</div>
    </center>

{% endblock %}

