{% extends "base.html" %}
{% block body %}
<h1 id="textstuff">
	<script type="text/javascript" src="/scripts/lobby_screen_scripts.js"></script>
	<div id="select_game">
		<select id="selection" size="10" style="height:350px;width:500px;overflow-y: scroll;overflow-x: scroll;border-style: solid; border-width: 1px;">
			{% for game in games %}
				<option value="{{ game.game_id }}"> <b>Game ID: {{ game.game_id }} | Current Players: {{ game.current_players }}/8 | End Sentence: {{ game.end_sentence }} </b></option>
			{% endfor %}
		</select>
	</div>
	<button type="button" onclick="buttonClicked()"> Join Game </button>
	<form><INPUT TYPE="button" VALUE="Return to Menu" onClick="returnToMenu()"></form>
	<form><INPUT TYPE="button" VALUE="Refresh Lobby" onClick="refreshLobby()"></form>
	<div id="error_area">
	</div>
</h1>

{% endblock %}

