{% extends "base.html" %}
{% block body %}
<center>
<img src="/images/StorybookIcon75.png" alt="Storybook"/>
<br>
Writer's Bloc
<br><br>
<div style="background-image:url('/images/main_module.png');width:180px;height:220px;">
<div style="display:inline-block;padding-top:25px;padding-right:5px;">
<form method="link" action="create_game">
	<input type="image" src="/images/create_game_button.png" width=75 height=75 alt="Create Game">
</form>
<br>
<form method="link" action="find_game">
	<input type="image" src = "/images/find_game_button.png" width=75 height=75  alt="Find Game">
</form>
</div>
<div style="display:inline-block;padding-top:25px;padding-left:5px;">
<form method="link" action="view_lobby">
	<input type="image" src="/images/view_lobby_button.png" width=75 height=75 alt="View Lobby">
</form>
<br>
<form method="link" action="user_settings">
    <input type="image" src="/images/settings_button.png" width=75 height=75  alt="Settings">
</form>
</div>

</div>
</center>
{% endblock %}

