{% extends "base.html" %}
{% block body %}
<script type="text/javascript" src="/scripts/settings_screen_scripts.js"></script>
<center>
<br>
<img src="/images/banner.png" alt="Writer's Bloc"/>
<br>
<br><br>
Player Visiblity:
<form name="player_visibility">
    <input type="radio" name="visibility_selection" id="0" value="anon" onclick="clickedSelection(this.value)"> Anonymous <br>
    <input type="radio" name="visibility_selection" id="1" value="initials" onclick="clickedSelection(this.value)"> Initials Only <br>
    <input type="radio" name="visibility_selection" id="2" value="first_initials" onclick="clickedSelection(this.value)"> First Name and Last Initial <br>
    <input type="radio" name="visibility_selection" id="3" value="full_name" onclick="clickedSelection(this.value)"> Full Name <br>
</form>
<br>
<div class="button-container">
    <form action="javascript:submitChanges();">
        <input type="image" src="/images/submit_button.png" width=150 height=150  alt="Submit" onMouseOver="this.src='/images/submit_button_hover.png'" onMouseOut="this.src='/images/submit_button.png'">
    </form>
    <form action="javascript:returnToMenu();">
        <input type="image" src="/images/return_button.png" width=150 height=150 alt="Return To Menu" onMouseOver="this.src='/images/return_button_hover.png'" onMouseOut="this.src='/images/return_button.png'">
    </form>
</div>
<div id="change_ack"></div>
</center>

{% endblock %}

