{% extends "base.html" %}
{% block body %}
<script type="text/javascript"> 
    var game_id  = "{{ game_id }}"; 
    var MAX_PLAYERS = "{{ MAX_PLAYERS }}";
    var user_id = "{{ user_id }}";
    var forward = false;
    window.onbeforeunload = 
        function() 
        { 
            if(!forward)
            {
                alert("going back?");
                return "You will be removed from the game if you leave";
            }
        };
    </script>
	You have joined a game. Now you are just waiting for enough people to join, or for the host to start it early.

<div id="current_players">
	Fetching Game Data...
</div>

<form><INPUT TYPE="button" VALUE="Return to Menu" onClick="returnToMenu()"></form>
<script type="text/javascript" src="/scripts/waiting_to_start.js"></script>
{% endblock %}

